<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Quiz: El juego de las preguntas</h2>
    <%=respuesta%><p>
	<a href='/quizes/question'>Int&eacute;ntelo otra vez</a>
  </body>
</html>