<!-- M9Quiz16 -->

<h2>Autenticación</h2>

<form method="POST" action="/login">
  <div class="field">
    <label for="login">Usuario:</label><br />
    <input type="text" id="login" name="login" size="30" />
  </div>
  <div class="field">
    <label for="password">Contraseña:</label><br />
    <input type="password" id="password" name="password" size="30" />
  </div>
  <div class="actions">
    <input name="commit" type="submit" value="Login" />
  </div>
</form>

